.control{
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.control label {
    display: block;
}
.control label {
    font-weight: bold;
    flex: 1;
    color: #464646;
    margin-bottom: 0.5rem;
}

.select{
    flex: 3;
}

.dropdownContainer{
    display: flex;
    flex-direction: row;
    width: 76%;
    align-items: center;
}
.button{
    padding:8px;
    margin-left: 10px;
}
@media (min-width: 768px) {
    .control{
        align-items: center;
        flex-direction: row;
    }
}