.button{
    background-color: #1c8ec9;
    color: whitesmoke;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.button:hover{
    background-color: #135e85;
}